.Naturalidade {
    background-color: #3c896d;
    width: 270px;
    border-radius: 1cm;
  }

  body {
    font-family: 'Barlow Condensed', sans-serif;
    background: #084B83  url("background1.jpg") no-repeat center center fixed  ;
    background-size: cover;
  }

  .imgG {
    border-radius: 2cm;
    border-style: ridge;
    border-width: 4px;
    border-color: #091e05;
  }